@import 'tailwindcss';
@plugin "daisyui" {
themes:
        light --default,
        dark --prefersdark,
        dracula;
}

span {
background-color: transparent;
}
::selection {
    color: gray;
    background: #dedede;

}
